absl-py
astunparse
bcrypt
blinker
certifi
cffi
charset-normalizer
click
cmake
colorama
cryptography
dnspython
Flask
flask-cors
Flask-JWT-Extended
flatbuffers
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
opencv-python
opt_einsum
optree
packaging
protobuf
pycparser
Pygments
PyJWT
pymongo
python-dotenv
requests
rich
setuptools
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
termcolor
tf_keras
typing_extensions
urllib3
Werkzeug
wheel
wrapt
